* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
    font-family: Arial, sans-serif;
    color: #252020;
}


.header-container {
    background: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 15px 40px;
    display: flex;
    align-items: center;
    opacity: 0.9;
}

img {
    width: 100%;
}

.header-logo {
    width: 70px;
    margin-right: 30px;
}

.mobile-icon,
.nav-bar {
    display: none;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
}


nav a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

nav a:hover {
    color: #1877f2;
}

.icon {
    font-size: 18px;
    font-weight: 800;
}


.video-container {
    position: relative;
    width: 100%;
    min-height: 400vh;
    display: block;
    z-index: 1;
}

.video-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 0;
    top: 0;
    left: 0;

}


.bg-area {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}



.bg-video {
    position: absolute;
    display: block;
    height: 100%;
    object-fit: cover;
    object-position: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: 333ms ease-in-out opacity;
    width: 100%;
    z-index: 0;
    overflow: hidden;
}


.hero-text {
    position: relative;
    z-index: 3;
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: 100%;
    /* margin: auto; */
    max-width: 600px;
    padding: 20px;
}

.hero-text h1 {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 20px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.top-button {
    display: inline-block;
    padding: 10px 20px;
    background: #1877f2;
    color: #fff;
    text-decoration: none;
    border-radius: 25px;
    font-weight: 500;
    transition: background 0.3s;
}

.top-button:hover {
    background: #145db2;

}




.news {
    width: 100%;
    height: 100vh;
    padding: 95px 40px;
    text-align: center;
    vertical-align: middle;
}

.news h1 {
    font-size: 40px;
    font-weight: 700;
    color: #252020;
    margin-bottom: 30px;
}

.newsroom {
    display: inline-block;
    margin-bottom: 60px;
    padding: 10px 20px;
    border: 1px solid #cbd2d9;
    border-radius: 20px;
}


.news-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: auto;
    width: 100%;
    align-items: stretch;
}



.news-card {
    background: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: left;
    flex: 1 0 auto;
    height: auto;
    margin-right: 40px;
    width: 300px
}

.news-card img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}


.card-text {
    margin-top: 20px;
}



.read-more {
    display: inline-block;
    align-items: center;
    margin-top: 20px;
    color: #1c1e21;
}

.read-more i {
    font-size: 12px;
    margin-right: 5px;
    border-radius: 100%;
    padding: 3px;
    border: 1px solid #1c2b33;
    ;
}



.product {
    padding: 195px 25px 40px;
    width: 100%;
    text-align: center;
}

.product h1 {
    font-size: 40px;
    font-weight: 700;
    color: #252020;
    margin-bottom: 65px;
}

.product-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 20px;
    width: 100%;
    padding: 0 20px;
}

.prod-card {
    display: block;
    position: relative;
    flex: 1;
    width: 100%;
}

.prod-img {
    position: relative;
    z-index: 0;
    margin-bottom: 110px;
}

.real-product1 {
    display: block;
    position: absolute;
    left: 30%;
    bottom: -50px;
    width: 150px;
}

.real-product2 {
    display: block;
    position: absolute;
    left: 30%;
    bottom: -99px;
    width: 150px;
}

.prod-img img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
    object-fit: cover;
}

.prod-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.prod-text h1 {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    color: #1c2b33;
}

.prod-text p {
    font-size: 16px;
    font-weight: 400;
    color: #465a69
}

.shop-now {
    display: inline-block;
    padding: 10px 20px;
    background: #0078d4;
    color: white;
    border-radius: 20px;
    margin-top: 10px;
}


.connect {
    width: 100%;
    height: 100%;
    padding: 90px 20px;
    text-align: center;
}


.connect h1 {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    color: #1c2b33;
    letter-spacing: 1px;
}


.connect-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px auto;
}

.explore-tech {
    padding: 10px 20px;
    background: #0078d4;
    color: white;
    border-radius: 20px;
}

.help-center {
    padding: 10px 20px;
    border-radius: 20px;
    color: #1c2b33;
}

.help-center i {
    border: 1px solid #1a3c47;
    margin-right: 10px;
    padding: 4px;
    border-radius: 50px;
    font-size: 12px;
    vertical-align: middle;
}

.connect-video-container {
    width: 100%;
    height: 100%;
    padding: 10px;
}

.product-video {
    max-width: 890px;
    width: 100%;
    height: 70vh;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}


.safety {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 40px;
    text-align: center;
    align-items: start;
}

.safety-text-header {
    width: 100%;
    flex: 1 0 50%;
    padding: 10px 20px;
}

.safety h1 {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    color: #1c2b33;
    letter-spacing: 1px;
    margin: 20px auto;
}

.safety p {
    font-size: 16px;
    font-weight: 400;
    color: #465a69
}

.learn-more {
    display: inline-block;
    padding: 10px 20px;
    background: #0078d4;
    color: white;
    border-radius: 20px;
    margin-top: 30px;
}

.safety-cards {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.safety-card {
    flex: 1 0 50%;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    text-align: left;
    background-color: #fafcff;
    border-radius: 25px;
    margin-bottom: 20px;
    padding: 10px 20px;
}

.card-img {
    width: 150px;
    height: 130px;
    padding-right: 20px;
}

.safety-card img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.card-text h3 {
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    color: #1c2b33;
    letter-spacing: 1px;
    margin-bottom: 10px;
}



.leadership {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    gap: 20px;
    align-items: center;
}


.leadership-img {
    width: 100%;
    margin-right: 40px;
    padding: 20px;
}

.leadership-img img {
    width: 100%;
    border-radius: 10px;
}

.leadership-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.leadership-text h1 {
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    color: #1c2b33;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.leadership-text p {
    font-size: 14px;
    font-weight: 300px;
    color: #1c1e21;
}

.get-to-know {
    display: block;
    padding: 10px 20px;
    background: #0078d4;
    color: white;
    border-radius: 20px;
    margin-top: 20px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: start;
    background-color: #f8f9fa;
    padding: 40px 40px 85px;
    font-size: 14px;
    color: #1c1e21;
    width: 100%;
}

footer a {
    text-decoration: none;
    color: #88959e;
    font-size: 12px;
    font-weight: 400;
}

footer ul {
    list-style-type: none;
}

.footer-icons {
    display: flex;
    flex-direction: column;
    gap: 40px;
   width: 35%;
   margin-right: 175px;
}

.logo-social {
    width: 76px;
}

.logo-social img {
    width: 100%;
}



.social-icons {
    list-style: none;
    display: flex;
    gap: 35px;
    padding: 0;
    margin: 0;
    font-size: 16px;

}


.social-icons li img {
    width: 23px;
    transition: transform 0.3s;
}

.social-icons li img:hover {
    transform: scale(1.4);
}

.footer-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin-right: 35px;
}

.footer-column {
    margin-right: 15px;
}

.footer-links .footer-column h4 {
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: bold;
}



.footer-links .footer-column ul li {
    margin-bottom: 6px;
}



.footer-links a:hover {
    text-decoration: underline;
    color: #0078d4;
}

@media (max-width: 767px) {
    .nav-container {
        display: none;
    }

    .mobile-icon {
        display: block;
        color: #1c1e21;
        margin-right: 20px;
    }

    .header-logo {
        display: flex;
    }

    header {
        display: flex;
        justify-content: space-between;
    }

    .hero-text {
        max-width: 310px;
    }

    .safety {
        flex-direction: column;
    }

    .safety-text-header {
        text-align: start;
        margin-bottom: 45px;
    }

    .safety-text-header h1 {
        text-align: start;
    }

    .leadership {
        flex-direction: column;
    }

    .leadership-text {
        order: -1;
    }

    footer {
        flex-direction: column;
    }

    .footer-icons {
        width: 100%;
        margin-bottom: 65px;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (max-width: 560px) {
    .product-cards {
        flex-direction: column;
    }

    .prod-card {
        margin-bottom: 45px;
    }

    .connect-buttons {
        flex-direction: column;
        align-items: center;
    }
}